<h2>Loading Data</h2>

In [2]:
import pandas as pd

# Read the Excel file
file_path = "insurance_claims_raw.xlsx"
df = pd.read_excel(file_path)
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328.0,48.0,521585.0,2014-10-17,OH,250/500,1000.0,1406.91,0.0,466132.0,...,YES,71610.0,6510.0,13020.0,52080.0,Saab,92x,2004.0,Y,NaN
1,228.0,42.0,342868.0,2006-06-27,IN,250/500,2000.0,1197.22,5000000.0,468176.0,...,?,5070.0,780.0,780.0,3510.0,Mercedes,E400,2007.0,Y,NaN
2,134.0,29.0,687698.0,2000-09-06,OH,100/300,2000.0,1413.14,5000000.0,430632.0,...,NO,34650.0,7700.0,3850.0,23100.0,Dodge,RAM,2007.0,N,NaN
3,256.0,41.0,227811.0,1990-05-25,IL,250/500,2000.0,1415.74,6000000.0,608117.0,...,NO,63400.0,6340.0,6340.0,50720.0,Chevrolet,Tahoe,2014.0,Y,NaN
4,228.0,44.0,367455.0,2014-06-06,IL,500/1000,1000.0,1583.91,6000000.0,610706.0,...,NO,6500.0,1300.0,650.0,4550.0,Accura,RSX,2009.0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,38.0,941851.0,1991-07-16,OH,500/1000,1000.0,1310.80,0.0,431289.0,...,?,87200.0,17440.0,8720.0,61040.0,Honda,Accord,2006.0,N,NaN
996,285.0,41.0,186934.0,2014-01-05,IL,100/300,1000.0,1436.79,0.0,608177.0,...,?,108480.0,18080.0,18080.0,72320.0,Volkswagen,Passat,2015.0,N,NaN
997,130.0,34.0,918516.0,2003-02-17,OH,250/500,500.0,1383.49,3000000.0,442797.0,...,YES,67500.0,7500.0,7500.0,52500.0,Suburu,Impreza,1996.0,N,NaN
998,458.0,62.0,533940.0,2011-11-18,IL,500/1000,2000.0,1356.92,5000000.0,441714.0,...,YES,46980.0,5220.0,5220.0,36540.0,Audi,A5,1998.0,N,NaN
999,456.0,60.0,556080.0,1996-11-11,OH,250/500,1000.0,766.19,0.0,612260.0,...,?,5060.0,460.0,920.0,3680.0,Mercedes,E400,2007.0,N,NaN

<h2>Cleaning data</h2>

In [3]:
df = df.drop(columns = ['_c39'])
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328.0,48.0,521585.0,2014-10-17,OH,250/500,1000.0,1406.91,0.0,466132.0,...,2.0,YES,71610.0,6510.0,13020.0,52080.0,Saab,92x,2004.0,Y
1,228.0,42.0,342868.0,2006-06-27,IN,250/500,2000.0,1197.22,5000000.0,468176.0,...,0.0,?,5070.0,780.0,780.0,3510.0,Mercedes,E400,2007.0,Y
2,134.0,29.0,687698.0,2000-09-06,OH,100/300,2000.0,1413.14,5000000.0,430632.0,...,3.0,NO,34650.0,7700.0,3850.0,23100.0,Dodge,RAM,2007.0,N
3,256.0,41.0,227811.0,1990-05-25,IL,250/500,2000.0,1415.74,6000000.0,608117.0,...,2.0,NO,63400.0,6340.0,6340.0,50720.0,Chevrolet,Tahoe,2014.0,Y
4,228.0,44.0,367455.0,2014-06-06,IL,500/1000,1000.0,1583.91,6000000.0,610706.0,...,1.0,NO,6500.0,1300.0,650.0,4550.0,Accura,RSX,2009.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,38.0,941851.0,1991-07-16,OH,500/1000,1000.0,1310.80,0.0,431289.0,...,1.0,?,87200.0,17440.0,8720.0,61040.0,Honda,Accord,2006.0,N
996,285.0,41.0,186934.0,2014-01-05,IL,100/300,1000.0,1436.79,0.0,608177.0,...,3.0,?,108480.0,18080.0,18080.0,72320.0,Volkswagen,Passat,2015.0,N
997,130.0,34.0,918516.0,2003-02-17,OH,250/500,500.0,1383.49,3000000.0,442797.0,...,3.0,YES,67500.0,7500.0,7500.0,52500.0,Suburu,Impreza,1996.0,N
998,458.0,62.0,533940.0,2011-11-18,IL,500/1000,2000.0,1356.92,5000000.0,441714.0,...,1.0,YES,46980.0,5220.0,5220.0,36540.0,Audi,A5,1998.0,N
999,456.0,60.0,556080.0,1996-11-11,OH,250/500,1000.0,766.19,0.0,612260.0,...,3.0,?,5060.0,460.0,920.0,3680.0,Mercedes,E400,2007.0,N

In [ ]:
<h2>Cleaning data</h2>